/* GLOBALNE STYLE  */
*{
    margin: 0;
    padding: 0;
}
/* KONIEC GLOBALNE STYLE  */

#preloader-box{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .preloader-wrapper{
        position: absolute;
    }
    
    .preloader-wrapper.big {
        width: 100px;
        height: 100px;
    } 
    
    .leftBackground{
        width: 50%;
        height: 100vh;
        background: #000;
        transform: translateX(0);
        transition: 1s all;
    }
    .activeLeft{
        transform: translateX(-100%);
        transition: 1s all;
    }
    .rightBackground{
        width: 50%;
        height: 100vh;
        background: #000;
        transform: translateX(0);
        transition: 1s all;
    }
    .activeRight{
        transform: translateX(100%);
        transition: 1s all;
    }
}
.hidden{
        display: none !important;
    }

.wrapper{
  display: block;
  text-align: center;


    .prod-name, .pric-name {
      border: 0px;
      outline: 0;
      margin-top: 0px;
      height: 25px;
      font-size: 16px;
      color: #000 !important;
    }  
    
    ul{
        margin-top: 50px;
   
        li{
            background: #afafaf;
            padding: 20px 0;
            border-radius: 25px;
            margin: 40px 0;
            
            p{
                color: #000;
                padding: 10px 0 20px 0;
            }
        }
    }
    

 
    
    
    
    .error{
      color: red;
      font-size: 50px;
      display: none;
    }
    
    .visible{
      display: block !important;
    }

}